# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.env/

# Large data files — don't push to git
data/raw/
data/patches/*.img
data/easy_testzip/
data/hard_testzip/
*.img
*.zip
*.npz

# Results (large images)
results/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
lrolrc_2001_part_0002/
data/iirs/
ch2_iir_ndi_20250729T0936115604_d_rfl_d18_srd/
